In [1]:
import pandas as pd
import random

In [2]:
WIN1 = [0]*100
WIN0 = [random.randint(40,50) for i in range(100)]
temp = [random.randint(-40,85) for i in range(100)]
INDEX = ['temp','WIN0','WIN1']

In [3]:
df = pd.DataFrame([temp,WIN0,WIN1],index=INDEX)
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
temp,76,32,71,-20,37,-13,45,-5,3,29,...,57,-20,-10,-36,6,84,28,-31,-23,45
WIN0,40,45,43,48,50,40,49,49,44,47,...,49,46,42,49,43,45,40,49,47,48
WIN1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df = df.T
df

    temp  WIN0  WIN1
0     76    40     0
1     32    45     0
2     71    43     0
3    -20    48     0
4     37    50     0
..   ...   ...   ...
95    84    45     0
96    28    40     0
97   -31    49     0
98   -23    47     0
99    45    48     0

[100 rows x 3 columns]

In [10]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('test_result.xlsx', engine='xlsxwriter')
writer

In [12]:
# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Board1')#,index=False)

In [13]:
# Get the xlsxwriter objects from the dataframe writer object.
workbook  = writer.book
worksheet = writer.sheets['Board1']

In [14]:
# Create a chart object.
chart = workbook.add_chart({'type': 'column'})

In [15]:
# Configure the series of the chart from the dataframe data.
chart.add_series({'values': '=Sheet1!$B$2:$B$8'})

In [16]:
# Insert the chart into the worksheet.
worksheet.insert_chart('D2', chart)

In [17]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()

D:\ProgramData\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:1571: UserWarning: Unknown worksheet reference 'Sheet1' in range 'Sheet1!$B$2:$B$8' passed to add_series()
  % (force_unicode(sheetname), force_unicode(c_range)))

In [9]:
df.to_excel('test.xlsx',sheet_name='Board1',index=False)